<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">


<head>


</head>
<body>

<div layout:fragment="content">


    <!-- partial:partials/_header.html -->
    <!-- partial -->

    <div class="page  has-sidebar-left height-full">
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-cog"></i>
                            Add Code
                        </h4>
                    </div>
                </div>
                <div class="row justify-content-between">

                </div>
            </div>
        </header>
        <div class="container animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel"
                     aria-labelledby="v-pills-all-tab">
                    <div class="row my-3" style="padding-top: 20px">
                        <div class="col-md-12">
                            <div class="card r-0 shadow" style="padding: 20px">

                                <div class="col-md-8">
                                    <form method="post" class="form-horizontal" th:action="@{/core/codes/}"
                                          th:object="${code}">

                                        <div class="form-group">
                                            <label class="control-label">Type</label>

                                            <div>
                                                <input type="text" id="codeType" name="codeType" class="form-control"
                                                       th:field="*{type}" required/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Code</label>

                                            <div>
                                                <input type="text" id="code" name="code" class="form-control"
                                                       th:field="*{code}" required/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Description</label>

                                            <div >
                                                <input type="text" id="description" name="description"
                                                       class="form-control" th:field="*{description}" required/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Extra Information</label>

                                            <div >
                                                <textarea class="form-control" th:field="*{extraInfo}"></textarea>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Add Code</button>
                                            </div>
                                        </div>
                                        <!--<div th:replace="layout :: form-validation"></div>-->

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- partial:partials/_foot.html -->
    <!-- partial -->


</div>


<th:block layout:fragment="scripts">


    <script>

        $("#cancel").click(function () {
            location.href = "/core/codes/alltypes";
        })

    </script>
</th:block>

</body>
</html>