<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">


<head>


</head>
<body>

<div layout:fragment="content">


    <!-- partial:partials/_header.html -->
    <!-- partial -->

    <div class="page  has-sidebar-left height-full">
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-cog"></i>
                            Raise Withdrawal Dispute
                        </h4>
                    </div>
                </div>
                <div class="row justify-content-between">

                </div>
            </div>
        </header>
        <div class="container animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel"
                     aria-labelledby="v-pills-all-tab">
                    <div class="row my-3" style="padding-top: 20px">
                        <div class="col-md-12">
                            <div class="card r-0 shadow" style="padding: 20px">

                                <div class="col-md-8">
                                    <form method="post" class="form-horizontal" th:action="@{/core/wallet/withdrawal_dispute/create/}" th:object="${dispute}">






                                        <div class="form-group" >
                                            <label class="control-label">RRN</label>

                                            <div >
                                                <input type="text" id="rrn" name="rrn" class="form-control" th:field="*{rrn}" minlength="12"  maxlength="12" required/>
                                            </div>

                                        </div>

                                        <div class="form-group" >
                                            <label class="control-label">Transaction time</label>

                                            <div >
                                                <input type="date" id="tranTime" name="amount" class="form-control" th:field="*{tranDate}" required/>
                                            </div>

                                        </div>

                                        <div class="form-group" >
                                            <label class="control-label">Terminal ID</label>

                                            <div >
                                                <input type="text" id="terminalId" name="terminalId" class="form-control" th:field="*{terminalId}" minlength="8"  maxlength="8"  required/>
                                            </div>

                                        </div>

                                        <div class="form-group" >
                                            <label class="control-label">Amount (Naira only)</label>

                                            <div >
                                                <input type="number" min="1" id="amount" name="amount" class="form-control" th:field="*{tranAmount}" required/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">PAN</label>

                                            <div >
                                                <input type="text" id="pan" name="pan" class="form-control" th:field="*{pan}" required/>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Channel</label>

                                            <div >
                                                <select id="channel" name="channel" class="form-control" th:field="*{channel}" required>
                                                    <option value="">--Select--</option>
                                                    <option value="NIBSS">NIBSS</option>
                                                    <option value="INTERSWITCH">INTERSWITCH</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Remark</label>

                                            <div >
                                                <textarea class="form-control" th:field="*{remark}"></textarea>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <button class="btn btn-white" type="reset" id="cancel">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Raise dispute</button>
                                            </div>
                                        </div>
                                        <!--<div th:replace="layout :: form-validation"></div>-->

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- partial:partials/_foot.html -->
    <!-- partial -->


</div>


<th:block layout:fragment="scripts">


    <script>

        $("#cancel").click(function () {
            location.href = "/core/wallet/withdrawal_dispute";
        })

    </script>

    <script>
        $( document ).ready(function() {
            // $("#DtranID").show();
            // $("#Daction").hide();
            // $("#Damount").hide();
            // $("#DwalletNo").hide();
            // $('#dtype').on('change',function(){
            //     if( $(this).val()==="TRAN_REVERSAL"){
            //         $("#DtranID").show();
            //         $("#Daction").hide();
            //         $("#Damount").hide();
            //         $("#DwalletNo").hide();
            //     }
            //     else{
            //         $("#Daction").show();
            //         $("#Damount").show();
            //         $("#DwalletNo").show();
            //         $("#DtranID").hide()
            //
            //     }
            // });
        });
    </script>
</th:block>

</body>
</html>