<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Complaint from agent!</title>
</head>
<body>

  Hi  <span th:text="${agent}"></span>  find below our response to your complaint
<table>

    <tr>
        <td>Complaint</td>
        <td th:text="${complaint}"></td>
    </tr>

    <tr>
        <td>Response</td>
        <td th:text="${comment}"></td>
    </tr>

    <tr>
        <td>Message</td>
        <td th:text="${message}"></td>
    </tr>

    <tr>
        <td>Status</td>
        <td th:text="${status}"></td>
    </tr>
</table>

</body>
</html>