<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>

    <!--<link th:href="@{~/assets/css/bootstrap.min.css}"  type="text/css" rel="stylesheet">-->
    <!--<link th:href="@{~/assets/css/font-awesome.min.css}"  type="text/css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>
<body>


<div layout:fragment="content">

    <link type="text/css" th:href="@{~/assets/bop-datepicker/css/bootstrap-datepicker.css}" rel="stylesheet"/>
    <!-- partial:partials/_header.html -->
    <!-- partial -->

    <div class="page  has-sidebar-left height-full">
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-wallet"></i>
                            Account
                        </h4>
                    </div>
                </div>
                <div class="row justify-content-between">

                </div>
            </div>
        </header>
        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel"
                     aria-labelledby="v-pills-all-tab">
                    <div class="row my-3" style="padding-top: 20px">
                        <div class="col-md-12">

                            <div class="card card-body mb-2 shadow-sm "  >
                                <div class="row" style="padding: 15px">


                                    <div class=" col-md-12 ">

                                        <div class="form-inline col-md-6 center">

                                            <div id="walletSearch" class="input-group input-group-sm ">
                                                <form action="javascript:search()">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Account search</span>
                                                        </div>
                                                        <input type="text" class="form-control " id="search-input" placeholder="Enter Account Number here.........."/>
                                                        <button class="btn btn-primary" id="searchBtn" type="submit"><span class="fa fa-search"></span> Search</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-3">-->

                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>

                            <div th:if="${done}">
                                <!--not found pan-->
                                <section th:if="${notfound}" class="themeColor panel">

                                    <div class="panel-body">
                                        <div class="card card-body mb-2 shadow-sm  ">
                                            <div class="row" style="padding: 15px">


                                                <div class="col-md-8  center">
                                                    <ul class="list-group walletInfo ">
                                                        <li class="list-group-item"> <span> Wallet number: </span>  <span th:text="${walletNum}"></span> not found</li>

                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!--found card starts-->
                                <section th:unless="${notfound}" class="themeColor panel">

                                    <div class="panel-body">
                                        <div class="card card-body mb-2 shadow-sm  ">
                                            <div class="row" style="padding: 15px">


                                                <div class="col-md-8  center">
                                                    <ul class="list-group walletInfo ">
                                                        <li class="list-group-item"> <span> Wallet Number:&nbsp;&nbsp; </span> <span th:text="${wallet.getWalletNumber()}"></span> </li>
                                                        <li class="list-group-item"> <span> Available Balance:&nbsp;&nbsp; </span>  <span th:text="${wallet.getAvailableBalance()}"></span></li>
                                                        <li class="list-group-item"> <span> Ledger Balance:&nbsp;&nbsp; </span>  <span th:text="${wallet.getLedgerBalance()}"></span></li>
                                                        <li class="list-group-item"> <span> Purpose:&nbsp;&nbsp; </span> <span th:text="${wallet.getPurpose()}"></span> </li>
                                                        <li class="list-group-item"> <span> Last tran :&nbsp;&nbsp; </span> <span th:text="${wallet.getLastTran()}"></span> </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- partial:partials/_foot.html




    -->
    <!-- partial -->


</div>

</div>


<th:block layout:fragment="scripts">

    <script th:src="@{~/assets/js/jquery.spring-friendly.min.js}"></script>
    <!--<script th:src="@{~/assets/bop-datepicker/js/bootstrap-datepicker.js}"></script>-->

    <script>
        $(document).ready(function remove(){
            $("#searchBtn").click(function(){
                $(".remove").removeClass("d-none");
            });
        });


        function search() {
            var val = $('#search-input').val();
            console.log(val)

            window.location.href = '/core/wallet/search/'+val+'/'
        }
    </script>
</th:block>

</body>
</html>